Flask==2.3.3
flask-cors==4.0.0
Flasgger==0.9.7.1
Werkzeug==2.3.7
requests==2.31.0
transformers==4.33.2
torch>=2.2.0
torchvision>=0.15.2
Pillow==10.0.0
opencv-python==4.8.0.76
numpy>=1.26,<2
google-cloud-storage==2.10.0
yt-dlp>=2024.9.27
instaloader==4.10.3
timm==0.9.10
python-dotenv==1.0.1
gunicorn==21.2.0
