Flask==2.3.3
flask-cors==4.0.0
Flask-Session==0.5.0
requests==2.31.0
instaloader==4.14.2
python-dotenv==1.0.1
numpy==1.26.4
llvmlite==0.42.0
numba==0.59.1
soundfile==0.12.1
audioread==3.0.1
librosa==0.10.1
gunicorn==21.2.0
mistralai
psycopg2-binary
google-cloud-storage
google-cloud-vision
pydub
deepgram-sdk
stripe
Pillow
authlib==1.3.0
flask-login==0.6.3
echo "# Railway rebuild trigger" >> api-flask/requirements.txt
